TODO
.Rhistory
inst/scdb
data/*.rda
inst/config.yaml
inst/about.Rmd
deploy_mmcortex.sh
data-raw/mc/*/*.qs
manifest.json
raw/
data-raw/projects-config/*
data-raw/projects-config/*/
!data-raw/projects-config/default
MCView.data/
inst/doc
PBMC/
data-raw/default
MCView_bundle
docs
tests/testthat/raw/*
tests/testthat/PBMC/*
check/
settings.json